.main {
  height: 82vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.homeButtonContainer {
  width: 310px;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 30px;
}
.homeButton {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: var(--regular-font-size);
  background-color: var(--background-darkcolor-light);
  outline: var(--outline-light);
  border-radius: var(--border-radius);
  padding: 12px;
}

.authCardContainer {
  width: 310px;
}
