:root {
  --background-color-light: #fff;
  --background-darkcolor-light: #f6f8fa;
  --background-ultradarkcolor-light: #e7eaed;

  --text-color-light: #565656;
  --text-darkcolor-light: #1d1d1d;

  --text-color-dark: #ffffff;
  --text-darkcolor-dark: #aeaeae;

  --main-color: #2e7bff;
  --seccondary-color: #1f883d;

  --outline-color-light: #d5d9e1;
  --outline-light: 1px solid var(--outline-color-light);
  --border-radius: 0.3rem;

  --title-font-size: 1.8rem;
  --subtitle-font-size: 1.3rem;
  --regular-font-size: 0.8rem;
  --small-font-size: 0.65rem;

  --title-font-weight: 800;
  --subtitle-font-weight: 600;
  --regular-font-weight: 400;
  --small-font-weight: 300;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color-light);
  background: var(--background-color-light);
  font-size: var(--regular-font-size);
  font-weight: var(--regular-font-weight);
  color: var(--text-darkcolor-light);
}

a {
  color: var(--main-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

input,
button {
  border-radius: var(--border-radius);
  border: none;
  outline: var(--outline-light);
  font-size: var(--regular-font-size);
  padding: 7px 12px;
  transition: outline 0.15s;
}
button {
  background-color: var(--seccondary-color);
  outline: none;
  color: var(--text-color-dark);
  font-weight: var(--subtitle-font-weight);
  user-select: none;
  cursor: pointer;
}
label {
  font-size: var(--small-font-size);
  font-weight: var(--small-font-size);
  color: var(--text-color-light);
  user-select: none;
}
input:focus {
  outline: 2px solid var(--main-color);
}
