:root {
  --background-color-light: #fff;
  --background-darkcolor-light: #f6f8fa;

  --text-color-light: #565656;
  --text-darkcolor-light: #1d1d1d;

  --text-color-dark: #ffffff;
  --text-darkcolor-dark: #aeaeae;

  --main-color: #2e7bff;
  --seccondary-color: #1f883d;

  --outline-light: 1px solid #d5d9e1;
  --border-radius: 0.3rem;

  --title-font-size: 1.8rem;
  --subtitle-font-size: 1.3rem;
  --regular-font-size: 0.8rem;
  --small-font-size: 0.65rem;

  --title-font-weight: 800;
  --subtitle-font-weight: 600;
  --regular-font-weight: 400;
  --small-font-weight: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color-light);
  background: var(--background-color-light);
  font-size: var(--regular-font-size);
  font-weight: var(--regular-font-weight);
  color: var(--text-darkcolor-light);
}

a {
  color: var(--main-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
