.card {
  display: inline-block;
  background-color: var(--background-darkcolor-light);
  padding: 16px;
  border-radius: var(--border-radius);
  outline: var(--outline-light);
  margin: 10px;
}

.title {
  font-size: var(--subtitle-font-size);
  font-weight: var(--subtitle-font-weight);
  text-align: center;
  border-bottom: 1px solid var(--outline-color-light);
  margin-bottom: 15px;
}
