.card {
  display: inline-block;
  padding: 16px;
  background-color: var(--background-darkcolor-light);
  border-radius: var(--border-radius);
  outline: var(--outline-light);
  margin: 10px;
}

.title {
  font-size: var(--subtitle-font-size);
}
